body {
    background-color: lightblue;
}

@font-face {
    font-family: dafontfont;
    src: url("https://www.dafont.com/exorcista.font");
}

#h1 a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

#navbar {
    background-color: #333;
    overflow: hidden;
}

#navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: whitesmoke;
    color: black;
    transition: 0.2s;
}

#head {
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center
}

#head:hover {
    box-shadow: black;
}

#havbar a:primu {
    background-color: #4CAF50;
    color: white;
}

#root {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

#rootMain {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

#main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#main a:hover {
    filter: invert(100%);
    transition: 0.1s;
}

.container1 {
    width: 100;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container2 {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#Latest {
    margin: 1px;
    display: flex;
    justify-content: center;
}

#nume {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 90%;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}